# Mainsail / Klipper helper config
# Include this file from printer.cfg with:
# [include mainsail.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

[display_status]

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set custom_park_x = client.custom_park_x|default(0.0)|float %}
  {% set custom_park_y = client.custom_park_y|default(0.0)|float %}
  {% set custom_park_dz = client.custom_park_dz|default(10.0)|float %}
  {% set retract = client.retract|default(5.0)|float %}
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{retract} F300
  G1 Z{custom_park_dz} F3000
  G90
  G1 X{custom_park_x} Y{custom_park_y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  BASE_CANCEL_PRINT

# Client customization macro - copy this block into your printer.cfg and
# uncomment variables you want to change. Leave the final `gcode:` line.
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos: False
variable_custom_park_x: 0.0
variable_custom_park_y: 200.0
variable_custom_park_dz: 10.0
variable_retract: 5.0
variable_unretract: 1.0
variable_speed_retract: 35.0
variable_speed_unretract: 35.0
variable_use_fw_retract: False
variable_park_at_cancel: False
variable_runout_sensor: ""
variable_user_pause_macro: ""
variable_user_resume_macro: ""
variable_user_cancel_macro: ""
gcode:
